body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

header {
    background-color: #0f1126;
    color: white;
    position: relative;
}

header a {
    color: white;
}

header h1 {
    margin: 0;
}

header span.links {
    position: absolute;
    right: 0;
    bottom: 0;
}

header h1, header span.links {
    padding: 10px;
}

#main {
    margin: 10px;
}

#summary {
    padding: 10px;
    border: 1px solid gray;
    background-color: #f0f0f0;
}

#summary:empty {
    display: none;
}

#summary > :first-child {
    margin-top: 0;
}

#summary > :last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    #summary {
        float: right;
        max-width: 400px;
    }
}