@{
    ViewData["Title"] = "Home Page";
}

This web app lets you look at current and past versions of add-ons at
<a href="https://addons.mozilla.org">https://addons.mozilla.org</a>.
It also downloads the manifest files for each version and extracts
additional information that could be helpful for users with old or
unsupported browsers.
